{% extends 'base.html' %}

{% block content %}
    <h1>{{ meeting }}</h1>
    <p>{{ meeting.meeting_date }}</p><hr>
    <a href="{% url 'check' pk=meeting.id %}" class="btn btn-info">Check!</a>
    {% for attendance in meeting.meetingattendance_set.all %}
        <div class="form-group">
                <p><b>{{ attendance.user.username }}</b><br>{{ attendance.check_date }}
                </p>
                
                {% if attendance.not_late %}
                    <button class="btn btn-success">SAFE</button>
                {% else %}
                    <button class="btn btn-danger">LATE</button>
                {% endif %}
        </div>
    {% endfor %}

{% endblock %}